playit
*.log
logs/
*.lock
STOP_SERVER
*.tar.gz
*.zip
*.tmp
*.jfr
*.jfr.tmp
plugins/spark/tmp/
!world/playerdata/
!world/playerdata/*.dat
!world/stats/
!world/stats/*.json
!world/advancements/
!world/advancements/*.json
plugins/**/*.db
plugins/**/*.db3
plugins/**/*.mv.db
plugins/**/*.mv.db.trace.db
plugins/**/*.mv.db.lock
plugins/**/*.db-shm
plugins/**/*.db-wal
